{% extends 'base.html.jinja2' %}

{% block title %}
EZ.GG
{% endblock %}

{% block message %}
<div style='text-align: center; font-size:48px; color:white; margin:20px;'>
    Server is overloaded, wait a little bit!
</div>
{% endblock %}
