<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="League of Legends players stat checker">
    <meta name="author" content="Mikołaj Mróz">

    <meta property="og:title" content="EZ.GG - Check your LOL stats!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://lol-stats.eu-central-1.elasticbeanstalk.com/">
    <meta property="og:description" content="League of Legends players stat checker">
    <meta property="og:image" content="{{url_for('static', filename='meta/background.jpg')}}">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    
    <!-- CSS Style--->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">

    <!--- Charts --->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</head>
<body>
    <div class='parent'>
        <div class='left'>
        {% block leftbar %}
        {% endblock %}
        </div>
        <div class='top'>
            <div class='content'>
                <div class='title'>
                    <a href='{{url_for("index")}}'><img src="{{url_for('static', filename='meta/logo.png')}}"></a>
                </div>
                <form method="POST" action="/">
                    {{ form.csrf_token }}
                    <div style='float: left; width:250px; margin-left: 30px; border-right: 1px solid black; height:40px;'>
                        <div class='baselabel'>
                            {{ form.server.label }} 
                        </div>
                        <div>
                            {{ form.server}}
                        </div>
                    </div>
                    <div style='margin-left: 12px; float: left; width:450px; height:40px;'>
                        <div class='baselabel'>
                            {{ form.username.label }}
                        </div>
                        <div>
                            {{ form.username(size=20) }}
                        </div>
                    </div>
                </form>
                {% block message %}
                {% endblock %}
                <div style='text-align: center; font-weight:400;'>
                    <small>
                        A <a href='https://op.gg'>OP.GG</a> clone created by <a href='https://github.com/Mikolaj-Mroz'>Mikołaj Mróz</a> <br>
                        Original design created by <a href='https://op.gg'>OP.GG</a>
                    </small>
                </div>
            </div>
        </div>
        <div class='center'>
            {% block content %}{% endblock %}
        </div>
        <div class='bot'>
            <footer>
                <section>
                    <div>
                        EZ.GG <br>
                        <br>
                        About EZ.GG <br>
                        Company <br>
                        Blog <br>
                        Logo history <br>
                    </div>
                    <div>
                        Products <br>
                        <br>
                        League of Legends <br>
                        Duo <br>
                        QWER <br>
                        Valorant <br>
                        PUBG <br>
                    </div>
                    <div>
                        Apps <br>
                        <br>
                        EZ.GG Android App <br>
                        EZ.GG iOS App <br>
                    </div>
                    <div>
                        Resources <br>
                        <br>
                        Privacy politics <br>
                        Agreement <br>
                        Help <br>
                    </div>
                </section>
                <section style='margin-top:25px; width:1170px;'>
                    <small>
                    <hr>
                        © 2012-2022 EZ.GG. EZ.GG isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                    </small>
                </section>
            </footer>
        </div>
    </div>
</body>
